# --- Frontend (Vue) ---
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# --- Backend (Go) ---
# Abaikan file hasil build (binary/exe)
main
main.exe
*.exe
*.dll
*.so
*.dylib

# --- Keamanan (JANGAN UPLOAD INI) ---
.env
.env.local